%table#tickets.table.table-striped
  %thead
    %tr
      %th Title
      %th Priority
      %th Difficulty
      %th Status
      %th Actions
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= link_to ticket.title, project_ticket_path(@project, ticket)
        %td= ticket.priority
        %td= ticket.difficulty
        %td= ticket.status
        %td  
          = link_to 'Edit', project_ticket_path(@project, ticket), :class => 'btn btn-success'
          = link_to 'Delete', project_ticket_path(@project, ticket), :method => :delete, :class => 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this ticket?' }
= will_paginate @tickets, renderer: BootstrapPagination::Rails
%p
= link_to new_project_ticket_path, method: :get, class: "btn btn-default" do
  %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
  New Ticket  
%p
= link_to 'Back', project_path(@project), class: "btn btn-default"